.form {
  background-color: aqua;
  margin: auto;
  width: 70%;
}
.form-header {
  display: flex;
}
p {
  font-size: 22px;
}
.include {
  margin-left: 3rem;
}
select {
  background-color: white;
  font-size: 25px;
}
.text{
    font-size:28px;
}
input{
    background-color: white;
    font-size: 20px;
}